<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com </h1>
    <p>

    Total $<%= @order.total_cents.to_f / 100 %>
    <% @order.line_items.each do |t| %>
    <%= t.product.name %>
    <% end %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>